{% extends "master.html"%}

{% block title %}
My Tennis Club -List of all memebers
{% endblock  %}

{% block content %}

<p> <a href="/">HOME</a></p>
<h1>
    Members
</h1>
<ul>
    {%for n in mynames%}
    <li>
        <a href="details/{{n.id}}">{{n.firstname}}{{n.lastname}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock  %}


{% comment %} <!DOCTYPE html>
<html>
    <head>
        <title>The Members</title>
    </head>
    <body>
        <head>
            <title>The Members</title>
        </head>
        <h1>Members</h1>

        <ul>
            {% for n in mynames %}
            <li><a
                    href="details/{{n.id}}">{{n.firstname}}{{n.lastname}}</a></li>
            <!-- <li > <a href="details/{{ n.id}}"></a>{{ n.firstname }} {{ n.lastname }}</li> -->
            {% endfor %}
        </ul>

    </body>
</html> {% endcomment %}