 {% extends "master.html" %}

{% block title %}
    Details about
        {{myname.firstname}}
        {{myname.lastname}}

        {%endblock%}
    {% block content%}
    <div class ='mycard'>
    <h1>
        {{myname.firstname}}
        {{myname.lastname}}
        </h1>
        <p>
            Phone: {{myname.phone}}
        </p>
        <p>
            Member Since: {{myname.joined_date}}
 
</div>
{%endblock%}
    

{% comment %} <!DOCTYPE html> {% endcomment %}

{% comment %} <!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ mymember.firstname }} {{ mymember.lastname }}</title>
      </head>
<body>
    <h1>
        {{myname.firstname}}
        {{myname.lastname}}
    </h1>
    <p>
        Phone: {{myname.phone}}
    </p>
    <p>
        Member Since: {{myname.joined_date}}
    </p>
    <p>
        Back to <a href="/names">All names</a>
    </p>
</body>
</html> {% endcomment %}

